<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LibMgmt.Properties.Settings.LibMgmtSysConnectionString"
            connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=LibMgmtSys;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>